<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">
	<title>قالب اچ تی ام ال فروشگاهی مارازو</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/blue.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" href="assets/css/owl.transitions.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/rateit.css">
	<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">

	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="assets/css/font-awesome.css">

</head>

<body class="cnt-home">
	<!-- ============================================== HEADER ============================================== -->
	<header class="header-style-1">

		<!-- ============================================== TOP MENU ============================================== -->
		<div class="top-bar animate-dropdown">
			<div class="container">
				<div class="header-top-inner">
					<div class="cnt-account">
						<ul class="list-unstyled">
							<li class="myaccount"><a href="#"><span>حساب من</span></a></li>
							<li class="wishlist"><a href="#"><span>علاقه مندیها</span></a></li>
							<li class="header_cart hidden-xs"><a href="#"><span>سبد خرید</span></a></li>
							<li class="check"><a href="#"><span>صورتحساب</span></a></span>
							</li>
							<li class="login"><a href="#"><span>ورود</span></a></li>
						</ul>
					</div>
					<!-- /.cnt-account -->

					<div class="cnt-block">
						<ul class="list-unstyled list-inline">
							<li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">دلار </span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">دلار</a></li>
									<li><a href="#">تومان</a></li>
									<li><a href="#">یورو</a></li>
								</ul>
							</li>
							<li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">انگلیسی</span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">انگلیسی</a></li>
									<li><a href="#">فرانسوی</a></li>
									<li><a href="#">آلمانی</a></li>
								</ul>
							</li>
						</ul>
						<!-- /.list-unstyled -->
					</div>
					<!-- /.cnt-cart -->
					<div class="clearfix"></div>
				</div>
				<!-- /.header-top-inner -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.header-top -->
		<!-- ============================================== TOP MENU : END ============================================== -->
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
						<div class="logo"> <a href="home.html"> <img src="assets/images/logo.png" alt="logo"> </a> </div>
						<!-- /.logo -->
					</div>
					<!-- /.logo-holder -->

					<div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder">
						<!-- /.contact-row -->
						<div class="search-area">
							<form>
								<div class="control-group">
									<ul class="categories-filter animate-dropdown">
										<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">دسته بندیها <b class="caret"></b></a>
											<ul class="dropdown-menu" role="menu">
												<li class="menu-header">عنوان دسته بندی</li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
											</ul>
										</li>
									</ul>
									<input class="search-field" placeholder="جستجو در میان محصولات ..." />
									<a class="search-button" href="#"></a> </div>
							</form>
						</div>
						<!-- /.search-area -->
					</div>
					<!-- /.top-search-holder -->

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 animate-dropdown top-cart-row">

						<div class="dropdown dropdown-cart">
							<a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
								<div class="items-cart-inner">
									<div class="basket">
										<div class="basket-item-count"><span class="count">2</span></div>
										<div class="total-price-basket"> <span class="lbl">سبد خرید</span> <span class="value">99 هزار تومان</span> </span>
										</div>
									</div>
								</div>
							</a>
							<ul class="dropdown-menu">
								<li>
									<div class="cart-item product-summary">
										<div class="row">
											<div class="col-xs-4">
												<div class="image"> <a href="detail.html"><img src="assets/images/products/p4.jpg" alt=""></a> </div>
											</div>
											<div class="col-xs-7">
												<h3 class="name"><a href="index.php?page-detail">عنوان محصول</a></h3>
												<div class="price">99 هزار تومان</div>
											</div>
											<div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
										</div>
									</div>
									<!-- /.cart-item -->
									<div class="clearfix"></div>
									<hr>
									<div class="clearfix cart-total">
										<div class="pull-right"> <span class="text">جمع کل :</span><span class='price'>99 هزار تومان</span> </div>
										<div class="clearfix"></div>
										<a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">صورتحساب</a> </div>
									<!-- /.cart-total-->

								</li>
							</ul>
							<!-- /.dropdown-menu-->
						</div>
						<!-- /.dropdown-cart -->

					</div>
					<!-- /.top-cart-row -->
				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->

		</div>
		<!-- /.main-header -->

		<!-- ============================================== NAVBAR ============================================== -->
		<div class="header-nav animate-dropdown">
			<div class="container">
				<div class="yamm navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">تعویض ناوبری</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					</div>
					<div class="nav-bg-class">
						<div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
							<div class="nav-outer">
								<ul class="nav navbar-nav">
									<li class="active dropdown"> <a href="home.html">صفحه اصلی</a> </li>
									<li class="dropdown yamm mega-menu"> <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">لباس</a>
										<ul class="dropdown-menu container">
											<li>
												<div class="yamm-content ">
													<div class="row">
														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی </a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی </a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی </a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="assets/images/banners/top-menu-banner.jpg" alt=""> </div>
														<!-- /.yamm-content -->
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="dropdown mega-menu">
										<a href="category.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">الکترونیک <span class="menu-label hot-menu hidden-xs">حراج</span> </a>
										<ul class="dropdown-menu container">
											<li>
												<div class="yamm-content">
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->
														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="#"><img alt="" src="assets/images/banners/top-menu-banner1.jpg"></a> </div>
													</div>
													<!-- /.row -->
												</div>
												<!-- /.yamm-content -->
											</li>
										</ul>
									</li>
									<li class="dropdown hidden-sm"> <a href="category.html">بهداشتی و آرایشی <span class="menu-label new-menu hidden-xs">جدید</span> </a> </li>
									<li class="dropdown hidden-sm"> <a href="category.html">ساعت</a> </li>
									<li class="dropdown"> <a href="contact.html">جواهرات</a> </li>
									<li class="dropdown"> <a href="contact.html">کفش</a> </li>
									<li class="dropdown"> <a href="contact.html">لباس بچگانه</a> </li>
									<li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">صفحات</a>
										<ul class="dropdown-menu pages">
											<li>
												<div class="yamm-content">
													<div class="row">
														<div class="col-xs-12 col-menu">
															<ul class="links">
																<li><a href="home.html">صفحه اصلی</a></li>
																<li><a href="category.html">دسته بندیها</a></li>
																<li><a href="detail.html">جزئیات</a></li>
																<li><a href="shopping-cart.html">سبد خرید</a></li>
																<li><a href="checkout.html">صورتحساب</a></li>
																<li><a href="blog.html">وبلاگ</a></li>
																<li><a href="blog-details.html">نوشته وبلاگ</a></li>
																<li><a href="contact.html">ارتباط با ما</a></li>
																<li><a href="sign-in.html">ورود کاربران</a></li>
																<li><a href="my-wishlist.html">علاقه مندیها</a></li>
																<li><a href="terms-conditions.html">شرایط و ضوابط</a></li>
																<li><a href="track-orders.html">رهگیری سفارشات</a></li>
																<li><a href="product-comparison.html">مقایسه محصول</a></li>
																<li><a href="faq.html">پرسش های متداول</a></li>
																<li><a href="404.html">صفحه خطا</a></li>
															</ul>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="dropdown  navbar-left special-menu"> <a href="#">30٪ تخفیف در موارد انتخاب شده</a> </li>
								</ul>
								<!-- /.navbar-nav -->
								<div class="clearfix"></div>
							</div>
							<!-- /.nav-outer -->
						</div>
						<!-- /.navbar-collapse -->

					</div>
					<!-- /.nav-bg-class -->
				</div>
				<!-- /.navbar-default -->
			</div>
			<!-- /.container-class -->

		</div>
		<!-- /.header-nav -->
		<!-- ============================================== NAVBAR : END ============================================== -->

	</header>
	<!-- ============================================== HEADER : END ============================================== -->
	<div class="breadcrumb">
		<div class="container">
			<div class="breadcrumb-inner">
				<ul class="list-inline list-unstyled">
					<li><a href="#">خانه</a></li>
					<li class='active'>نوشته وبلاگ</li>
				</ul>
			</div>
			<!-- /.breadcrumb-inner -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.breadcrumb -->

	<div class="body-content">
		<div class="container">
			<div class="row">
				<div class="blog-page">
					<div class="col-xs-12 col-sm-9 col-md-9 rht-col">
						<div class="blog-post wow fadeInUp">
							<img class="img-responsive" src="assets/images/blog-post/blog_big_01.jpg" alt="">
							<h1>لورم اپیسوم متن ساختگی</h1>
							<span class="author">فلان فلانی</span>
							<span class="review">7 دیدگاه</span>
							<span class="date-time">18/06/2016 11.30</span>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
							<div class="social-media">
								<span>به اشتراک بگذارید:</span>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href=""><i class="fa fa-rss"></i></a>
								<a href="" class="hidden-xs"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
						<div class="blog-post-author-details wow fadeInUp">
							<div class="row">
								<div class="col-md-2">
									<img src="assets/images/testimonials/member3.png" alt="" class="img-circle img-responsive">
								</div>
								<div class="col-md-10">
									<h4>فلان فلانی</h4>
									<div class="btn-group author-social-network pull-left">
										<span>منو دنبال کن</span>
										<button type="button" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="twitter-icon fa fa-twitter"></i>
                      <span class="caret"></span>
                    </button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#"><i class="icon fa fa-facebook"></i>فیس بوک</a></li>
											<li><a href="#"><i class="icon fa fa-linkedin"></i>لینکدین</a></li>
											<li><a href=""><i class="icon fa fa-pinterest"></i>پینترست</a></li>
											<li><a href=""><i class="icon fa fa-rss"></i>خبرخوان</a></li>
										</ul>
									</div>
									<span class="author-job">طراح وب</span>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
								</div>
							</div>
						</div>
						<div class="blog-review wow fadeInUp">
							<div class="row">
								<div class="col-md-12">
									<h3 class="title-review-comments">16 دیدگاه</h3>
								</div>
								<div class="col-md-2 col-sm-2">
									<img src="assets/images/testimonials/member1.png" alt="Responsive image" class="img-rounded img-responsive">
								</div>
								<div class="col-md-10 col-sm-10 blog-comments outer-bottom-xs">
									<div class="blog-comments inner-bottom-xs">
										<h4>فلان فلانی</h4>
										<span class="review-action pull-left">
                      03 روز پیش &sol;   
                      <a href=""> بازپست</a> &sol;
                      <a href=""> پاسخ</a>
                    </span>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
									</div>
									<div class="blog-comments-responce outer-top-xs ">
										<div class="row">
											<div class="col-md-2 col-sm-2">
												<img src="assets/images/testimonials/member2.png" alt="Responsive image" class="img-rounded img-responsive">
											</div>
											<div class="col-md-10 col-sm-10 outer-bottom-xs">
												<div class="blog-sub-comments inner-bottom-xs">
										<h4>فلان فلانی</h4>
										<span class="review-action pull-left">
                      03 روز پیش &sol;   
                      <a href=""> بازپست</a> &sol;
                      <a href=""> پاسخ</a>
                    </span>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
												</div>
											</div>
											<div class="col-md-2 col-sm-2">
												<img src="assets/images/testimonials/member3.png" alt="Responsive image" class="img-rounded img-responsive">
											</div>
											<div class="col-md-10 col-sm-10">
												<div class=" inner-bottom-xs">
										<h4>فلان فلانی</h4>
										<span class="review-action pull-left">
                      03 روز پیش &sol;   
                      <a href=""> بازپست</a> &sol;
                      <a href=""> پاسخ</a>
                    </span>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2">
									<img src="assets/images/testimonials/member4.png" alt="Responsive image" class="img-rounded img-responsive">
								</div>
								<div class="col-md-10 col-sm-10">
									<div class="blog-comments inner-bottom-xs outer-bottom-xs">
										<h4>فلان فلانی</h4>
										<span class="review-action pull-left">
                      03 روز پیش &sol;   
                      <a href=""> بازپست</a> &sol;
                      <a href=""> پاسخ</a>
                    </span>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
									</div>
								</div>
								<div class="col-md-2 col-sm-2">
									<img src="assets/images/testimonials/member1.png" alt="Responsive image" class="img-rounded img-responsive">
								</div>
								<div class="col-md-10 col-sm-10">
									<div class="blog-comment inner-bottom-xs">
										<h4>فلان فلانی</h4>
										<span class="review-action pull-left">
                      03 روز پیش &sol;   
                      <a href=""> بازپست</a> &sol;
                      <a href=""> پاسخ</a>
                    </span>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
									</div>
								</div>
								<div class="post-load-more col-md-12"><a class="btn btn-upper btn-primary" href="#">بارگذاری بیشتر</a></div>
							</div>
						</div>
						<div class="blog-write-comment outer-bottom-xs outer-top-xs">
							<div class="row">
								<div class="col-md-12">
									<h4>ارسال دیدگاه</h4>
								</div>
								<div class="col-md-4">
									<form class="register-form" role="form">
										<div class="form-group">
											<label class="info-title" for="exampleInputName">نام شما <span>*</span></label>
											<input type="email" class="form-control unicase-form-control text-input" id="exampleInputName" placeholder="">
										</div>
									</form>
								</div>
								<div class="col-md-4">
									<form class="register-form" role="form">
										<div class="form-group">
											<label class="info-title" for="exampleInputEmail1">آدرس ایمیل <span>*</span></label>
											<input type="email" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
										</div>
									</form>
								</div>
								<div class="col-md-4">
									<form class="register-form" role="form">
										<div class="form-group">
											<label class="info-title" for="exampleInputTitle">عنوان <span>*</span></label>
											<input type="email" class="form-control unicase-form-control text-input" id="exampleInputTitle" placeholder="">
										</div>
									</form>
								</div>
								<div class="col-md-12">
									<form class="register-form" role="form">
										<div class="form-group">
											<label class="info-title" for="exampleInputComments">دیدگاه تان <span>*</span></label>
											<textarea class="form-control unicase-form-control" id="exampleInputComments"></textarea>
										</div>
									</form>
								</div>
								<div class="col-md-12 outer-bottom-small m-t-20">
									<button type="submit" class="btn-upper btn btn-primary checkout-page-button">ثبت دیدگاه</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 sidebar">
						<div class="sidebar-module-container">
							<div class="search-area outer-bottom-small">
								<form>
									<div class="control-group">
										<input placeholder="جستجو در محتوا" class="search-field">
										<a href="#" class="search-button"></a>
									</div>
								</form>
							</div>

							<div class="home-banner outer-top-n outer-bottom-xs">
								<img src="assets/images/banners/LHS-banner.jpg" alt="Image">
							</div>
							<!-- ==============================================CATEGORY============================================== -->
							<div class="sidebar-widget outer-bottom-xs wow fadeInUp">
								<h3 class="section-title">دسته بندیها</h3>
								<div class="sidebar-widget-body m-t-10">
									<div class="accordion">
										<div class="accordion-group">
											<div class="accordion-heading">
												<a href="#collapseOne" data-toggle="collapse" class="accordion-toggle collapsed">عنوان دسته بندی</a>
											</div>
											<!-- /.accordion-heading -->
											<div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
												<div class="accordion-inner">
													<ul>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
													</ul>
												</div>
												<!-- /.accordion-inner -->
											</div>
											<!-- /.accordion-body -->
										</div>
										<!-- /.accordion-group -->

										<div class="accordion-group">
											<div class="accordion-heading">
												<a href="#collapseTwo" data-toggle="collapse" class="accordion-toggle collapsed">عنوان دسته بندی</a>
											</div>
											<!-- /.accordion-heading -->
											<div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
												<div class="accordion-inner">
													<ul>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
													</ul>
												</div>
												<!-- /.accordion-inner -->
											</div>
											<!-- /.accordion-body -->
										</div>
										<!-- /.accordion-group -->

										<div class="accordion-group">
											<div class="accordion-heading">
												<a href="#collapseThree" data-toggle="collapse" class="accordion-toggle collapsed">عنوان دسته بندی</a>
											</div>
											<!-- /.accordion-heading -->
											<div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
												<div class="accordion-inner">
													<ul>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
													</ul>
												</div>
												<!-- /.accordion-inner -->
											</div>
											<!-- /.accordion-body -->
										</div>
										<!-- /.accordion-group -->

										<div class="accordion-group">
											<div class="accordion-heading">
												<a href="#collapseFour" data-toggle="collapse" class="accordion-toggle collapsed">عنوان دسته بندی</a>
											</div>
											<!-- /.accordion-heading -->
											<div class="accordion-body collapse" id="collapseFour" style="height: 0px;">
												<div class="accordion-inner">
													<ul>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
													</ul>
												</div>
												<!-- /.accordion-inner -->
											</div>
											<!-- /.accordion-body -->
										</div>
										<!-- /.accordion-group -->

										<div class="accordion-group">
											<div class="accordion-heading">
												<a href="#collapseFive" data-toggle="collapse" class="accordion-toggle collapsed">عنوان دسته بندی</a>
											</div>
											<!-- /.accordion-heading -->
											<div class="accordion-body collapse" id="collapseFive" style="height: 0px;">
												<div class="accordion-inner">
													<ul>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
													</ul>
												</div>
												<!-- /.accordion-inner -->
											</div>
											<!-- /.accordion-body -->
										</div>
										<!-- /.accordion-group -->

										<div class="accordion-group">
											<div class="accordion-heading">
												<a href="#collapseSix" data-toggle="collapse" class="accordion-toggle collapsed">عنوان دسته بندی</a>
											</div>
											<!-- /.accordion-heading -->
											<div class="accordion-body collapse" id="collapseSix" style="height: 0px;">
												<div class="accordion-inner">
													<ul>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
														<li><a href="#">عنوان دسته بندی</a></li>
													</ul>
												</div>
												<!-- /.accordion-inner -->
											</div>
											<!-- /.accordion-body -->
										</div>
										<!-- /.accordion-group -->

									</div>
									<!-- /.accordion -->
								</div>
								<!-- /.sidebar-widget-body -->
							</div>
							<!-- /.sidebar-widget -->
							<!-- ============================================== CATEGORY : END ============================================== -->
							<div class="sidebar-widget outer-bottom-xs wow fadeInUp">
								<h3 class="section-title">نوشته ها</h3>
								<ul class="nav nav-tabs">
									<li class="active"><a href="#popular" data-toggle="tab">محبوب ترین ها</a></li>
									<li><a href="#recent" data-toggle="tab">اخیر</a></li>
								</ul>
								<div class="tab-content" style="padding-right:0">
									<div class="tab-pane active m-t-20" id="popular">
										<div class="blog-post inner-bottom-30 ">
											<img class="img-responsive" src="assets/images/blog-post/blog_big_01.jpg" alt="">
											<h4><a href="blog-details.html">عنوان نوشته</a></h4>
											<span class="review">6 دیدگاه</span>
											<span class="date-time">12/06/16</span>
											<p>لورم اپیسوم متن ساختگی با تولید سادگی نامفهوم</p>

										</div>
										<div class="blog-post">
											<img class="img-responsive" src="assets/images/blog-post/blog_big_02.jpg" alt="">
											<h4><a href="blog-details.html">عنوان نوشته</a></h4>
											<span class="review">6 دیدگاه</span>
											<span class="date-time">12/06/16</span>
											<p>لورم اپیسوم متن ساختگی با تولید سادگی نامفهوم</p>

										</div>
									</div>

									<div class="tab-pane m-t-20" id="recent">
										<div class="blog-post inner-bottom-30">
											<img class="img-responsive" src="assets/images/blog-post/blog_big_03.jpg" alt="">
											<h4><a href="blog-details.html">عنوان نوشته</a></h4>
											<span class="review">6 دیدگاه</span>
											<span class="date-time">12/06/16</span>
											<p>لورم اپیسوم متن ساختگی با تولید سادگی نامفهوم</p>

										</div>
										<div class="blog-post">
											<img class="img-responsive" src="assets/images/blog-post/blog_big_01.jpg" alt="">
											<h4><a href="blog-details.html">عنوان نوشته</a></h4>
											<span class="review">6 دیدگاه</span>
											<span class="date-time">12/06/16</span>
											<p>لورم اپیسوم متن ساختگی با تولید سادگی نامفهوم</p>
										</div>
									</div>
								</div>
							</div>
							<!-- ============================================== PRODUCT TAGS ============================================== -->
							<div class="sidebar-widget product-tag wow fadeInUp">
								<h3 class="section-title">برچسب ها</h3>
								<div class="sidebar-widget-body outer-top-xs">
									<div class="tag-list">
										<a class="item" title="" href="category.html">برچسب</a>
										<a class="item active" title="" href="category.html">برچسب</a>
										<a class="item" title="" href="category.html">برچسب</a>
										<a class="item" title="" href="category.html">برچسب</a>
										<a class="item" title="" href="category.html">برچسب</a>
										<a class="item" title="" href="category.html">برچسب</a>
										<a class="item" title="" href="category.html">برچسب</a>
										<a class="item" title="" href="category.html">برچسب</a>
										<a class="item" title="" href="category.html">برچسب</a>
									</div>
									<!-- /.tag-list -->
								</div>
								<!-- /.sidebar-widget-body -->
							</div>
							<!-- /.sidebar-widget -->
							<!-- ============================================== PRODUCT TAGS : END ============================================== -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================= FOOTER ============================================================= -->

	<!-- ============================================== INFO BOXES ============================================== -->
	<div class="row our-features-box">
		<div class="container">
			<ul>
				<li>
					<div class="feature-box">
						<div class="icon-truck"></div>
						<div class="content-blocks">ما به تمام دنیا ارسال میکنیم</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-support"></div>
						<div class="content-blocks">تماس +1 800 789 0000</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-money"></div>
						<div class="content-blocks">تضمین بازگشت پول</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-return"></div>
						<div class="content">30 روز بازگشتی</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
	<!-- /.info-boxes -->
	<!-- ============================================== INFO BOXES : END ============================================== -->

	<!-- ============================================================= FOOTER ============================================================= -->
	<footer id="footer" class="footer color-bg">
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="address-block">

							<!-- /.module-heading -->

							<div class="module-body">
								<ul class="toggle-footer" style="">
									<li class="media">
										<div class="pull-right"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body">
											<p>آدرس فروشگاه محلی ما</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-right"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body">
											<p>+(888) 123-4567<br> +(888) 456-7890</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-right"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body"> <span><a href="#">Info@Website.com</a></span> </div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">خدمات مشتریان</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="">حساب من</a></li>
								<li><a href="#" title="">تاریخچه سفارشات</a></li>
								<li><a href="#" title="">پرسش های متداول</a></li>
								<li><a href="#" title="">ویژه ها</a></li>
								<li class="last"><a href="#" title="">پشتیبانی</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">شرکت</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a title="Your Account" href="#">درباره ما</a></li>
								<li><a title="Information" href="#">خدمات مشتریان</a></li>
								<li><a title="Addresses" href="#">کمپانی</a></li>
								<li><a title="Addresses" href="#">روابط سرمایه گذار</a></li>
								<li class="last"><a title="Orders History" href="#">جستجوی پیشرفته</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">چرا انتخاب ما</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="">راهنمای خرید</a></li>
								<li><a href="#" title="">وبلاگ</a></li>
								<li><a href="#" title="">کمپانی</a></li>
								<li><a href="#" title="">روابط سرمایه گذار</a></li>
								<li class=" last"><a href="contact-us.html" title="">تماس با ما</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-bar">
			<div class="container">
				<div class="col-xs-12 col-sm-4 no-padding social">
					<ul class="link">
						<li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
						<li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
						<li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
						<li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
						<li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
						<li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
						<li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 no-padding copyright">&copy; 2018. کلیه حقوق برای این فروشگاه محفوظ است. </div>
				<div class="col-xs-12 col-sm-4 no-padding">
					<div class="clearfix payment-methods">
						<ul>
							<li><img src="assets/images/payments/1.png" alt=""></li>
							<li><img src="assets/images/payments/2.png" alt=""></li>
							<li><img src="assets/images/payments/3.png" alt=""></li>
							<li><img src="assets/images/payments/4.png" alt=""></li>
							<li><img src="assets/images/payments/5.png" alt=""></li>
						</ul>
					</div>
					<!-- /.payment-methods -->
				</div>
			</div>
		</div>
	</footer>
	<!-- ============================================================= FOOTER : END============================================================= -->

	<!-- For demo purposes – can be removed on production -->

	<!-- For demo purposes – can be removed on production : End -->

	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/echo.min.js"></script>
	<script src="assets/js/jquery.easing-1.3.min.js"></script>
	<script src="assets/js/bootstrap-slider.min.js"></script>
	<script src="assets/js/jquery.rateit.min.js"></script>
	<script type="text/javascript" src="assets/js/lightbox.min.js"></script>
	<script src="assets/js/bootstrap-select.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>

</html>