<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">
	<title>قالب اچ تی ام ال فروشگاهی مارازو</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/blue.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" href="assets/css/owl.transitions.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/rateit.css">
	<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">

	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="assets/css/font-awesome.css">

</head>

<body class="cnt-home">
	<!-- ============================================== HEADER ============================================== -->
	<header class="header-style-1">

		<!-- ============================================== TOP MENU ============================================== -->
		<div class="top-bar animate-dropdown">
			<div class="container">
				<div class="header-top-inner">
					<div class="cnt-account">
						<ul class="list-unstyled">
							<li class="myaccount"><a href="#"><span>حساب من</span></a></li>
							<li class="wishlist"><a href="#"><span>علاقه مندیها</span></a></li>
							<li class="header_cart hidden-xs"><a href="#"><span>سبد خرید</span></a></li>
							<li class="check"><a href="#"><span>صورتحساب</span></a></span>
							</li>
							<li class="login"><a href="#"><span>ورود</span></a></li>
						</ul>
					</div>
					<!-- /.cnt-account -->

					<div class="cnt-block">
						<ul class="list-unstyled list-inline">
							<li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">دلار </span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">دلار</a></li>
									<li><a href="#">تومان</a></li>
									<li><a href="#">یورو</a></li>
								</ul>
							</li>
							<li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">انگلیسی</span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">انگلیسی</a></li>
									<li><a href="#">فرانسوی</a></li>
									<li><a href="#">آلمانی</a></li>
								</ul>
							</li>
						</ul>
						<!-- /.list-unstyled -->
					</div>
					<!-- /.cnt-cart -->
					<div class="clearfix"></div>
				</div>
				<!-- /.header-top-inner -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.header-top -->
		<!-- ============================================== TOP MENU : END ============================================== -->
		<div class="main-header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
						<!-- ============================================================= LOGO ============================================================= -->
						<div class="logo"> <a href="home.html"> <img src="assets/images/logo.png" alt="logo"> </a> </div>
						<!-- /.logo -->
						<!-- ============================================================= LOGO : END ============================================================= -->
					</div>
					<!-- /.logo-holder -->

					<div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder">
						<!-- /.contact-row -->
						<!-- ============================================================= SEARCH AREA ============================================================= -->
						<div class="search-area">
							<form>
								<div class="control-group">
									<ul class="categories-filter animate-dropdown">
										<li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="category.html">دسته بندیها <b class="caret"></b></a>
											<ul class="dropdown-menu" role="menu">
												<li class="menu-header">عنوان دسته بندی</li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
												<li role="presentation"><a role="menuitem" tabindex="-1" href="category.html">- عنوان دسته بندی</a></li>
											</ul>
										</li>
									</ul>
									<input class="search-field" placeholder="جستجو در میان محصولات ..." />
									<a class="search-button" href="#"></a> </div>
							</form>
						</div>
						<!-- /.search-area -->
					</div>
					<!-- /.top-search-holder -->

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 animate-dropdown top-cart-row">

						<div class="dropdown dropdown-cart">
							<a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
								<div class="items-cart-inner">
									<div class="basket">
										<div class="basket-item-count"><span class="count">2</span></div>
										<div class="total-price-basket"> <span class="lbl">سبد خرید</span> <span class="value">99 هزار تومان</span> </span>
										</div>
									</div>
								</div>
							</a>
							<ul class="dropdown-menu">
								<li>
									<div class="cart-item product-summary">
										<div class="row">
											<div class="col-xs-4">
												<div class="image"> <a href="detail.html"><img src="assets/images/products/p4.jpg" alt=""></a> </div>
											</div>
											<div class="col-xs-7">
												<h3 class="name"><a href="index.php?page-detail">عنوان محصول</a></h3>
												<div class="price">99 هزار تومان</div>
											</div>
											<div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
										</div>
									</div>
									<!-- /.cart-item -->
									<div class="clearfix"></div>
									<hr>
									<div class="clearfix cart-total">
										<div class="pull-right"> <span class="text">جمع کل :</span><span class='price'>99 هزار تومان</span> </div>
										<div class="clearfix"></div>
										<a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">صورتحساب</a> </div>
									<!-- /.cart-total-->

								</li>
							</ul>
							<!-- /.dropdown-menu-->
						</div>
						<!-- /.dropdown-cart -->

						<!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
					</div>
					<!-- /.top-cart-row -->
				</div>
				<!-- /.row -->

			</div>
			<!-- /.container -->

		</div>
		<!-- /.main-header -->

		<!-- ============================================== NAVBAR ============================================== -->
		<div class="header-nav animate-dropdown">
			<div class="container">
				<div class="yamm navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">تعویض ناوبری</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					</div>
					<div class="nav-bg-class">
						<div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
							<div class="nav-outer">
								<ul class="nav navbar-nav">
									<li class="active dropdown"> <a href="home.html">صفحه اصلی</a> </li>
									<li class="dropdown yamm mega-menu"> <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">لباس</a>
										<ul class="dropdown-menu container">
											<li>
												<div class="yamm-content ">
													<div class="row">
														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی </a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی </a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی </a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="assets/images/banners/top-menu-banner.jpg" alt=""> </div>
														<!-- /.yamm-content -->
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="dropdown mega-menu">
										<a href="category.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">الکترونیک <span class="menu-label hot-menu hidden-xs">حراج</span> </a>
										<ul class="dropdown-menu container">
											<li>
												<div class="yamm-content">
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->

														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<!-- /.col -->
														<div class="col-xs-12 col-sm-12 col-md-2 col-menu">
															<h2 class="title">عنوان دسته بندی</h2>
															<ul class="links">
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
																<li><a href="#">عنوان دسته بندی</a></li>
															</ul>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner"> <a href="#"><img alt="" src="assets/images/banners/top-menu-banner1.jpg"></a> </div>
													</div>
													<!-- /.row -->
												</div>
												<!-- /.yamm-content -->
											</li>
										</ul>
									</li>
									<li class="dropdown hidden-sm"> <a href="category.html">بهداشتی و آرایشی <span class="menu-label new-menu hidden-xs">جدید</span> </a> </li>
									<li class="dropdown hidden-sm"> <a href="category.html">ساعت</a> </li>
									<li class="dropdown"> <a href="contact.html">جواهرات</a> </li>
									<li class="dropdown"> <a href="contact.html">کفش</a> </li>
									<li class="dropdown"> <a href="contact.html">لباس بچگانه</a> </li>
									<li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">صفحات</a>
										<ul class="dropdown-menu pages">
											<li>
												<div class="yamm-content">
													<div class="row">
														<div class="col-xs-12 col-menu">
															<ul class="links">
																<li><a href="home.html">صفحه اصلی</a></li>
																<li><a href="category.html">دسته بندیها</a></li>
																<li><a href="detail.html">جزئیات</a></li>
																<li><a href="shopping-cart.html">سبد خرید</a></li>
																<li><a href="checkout.html">صورتحساب</a></li>
																<li><a href="blog.html">وبلاگ</a></li>
																<li><a href="blog-details.html">نوشته وبلاگ</a></li>
																<li><a href="contact.html">ارتباط با ما</a></li>
																<li><a href="sign-in.html">ورود کاربران</a></li>
																<li><a href="my-wishlist.html">علاقه مندیها</a></li>
																<li><a href="terms-conditions.html">شرایط و ضوابط</a></li>
																<li><a href="track-orders.html">رهگیری سفارشات</a></li>
																<li><a href="product-comparison.html">مقایسه محصول</a></li>
																<li><a href="faq.html">پرسش های متداول</a></li>
																<li><a href="404.html">صفحه خطا</a></li>
															</ul>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</li>
									<li class="dropdown  navbar-left special-menu"> <a href="#">30٪ تخفیف در موارد انتخاب شده</a> </li>
								</ul>
								<!-- /.navbar-nav -->
								<div class="clearfix"></div>
							</div>
							<!-- /.nav-outer -->
						</div>
						<!-- /.navbar-collapse -->

					</div>
					<!-- /.nav-bg-class -->
				</div>
				<!-- /.navbar-default -->
			</div>
			<!-- /.container-class -->

		</div>
		<!-- /.header-nav -->
		<!-- ============================================== NAVBAR : END ============================================== -->

	</header>
	<!-- ============================================== HEADER : END ============================================== -->
	<div class="breadcrumb">
		<div class="container">
			<div class="breadcrumb-inner">
				<ul class="list-inline list-unstyled">
					<li><a href="#">خانه</a></li>
					<li class='active'>شرایط و ضوابط</li>
				</ul>
			</div>
			<!-- /.breadcrumb-inner -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.breadcrumb -->

	<div class="body-content">
		<div class="container">
			<div class="terms-conditions-page">
				<div class="row">
					<div class="col-md-12 terms-conditions">
						<h2 class="heading-title">شرایط و ضوابط</h2>
						<div class="">
							<h3>لورم اپیسوم متن ساختگی</h3>
							<ol>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
							</ol>
							<h3>لورم اپیسوم متن ساختگی</h3>
							<ol>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
								<li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</li>
							</ol>
							<h3>لورم اپیسوم متن ساختگی</h3>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.sigin-in-->
			<!-- ============================================== BRANDS CAROUSEL ============================================== -->
			<div id="brands-carousel" class="logo-slider wow fadeInUp">

				<div class="logo-slider-inner">
					<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
						<div class="item m-t-15">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item m-t-10">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->

						<div class="item">
							<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
					</a>
						</div>
						<!--/.item-->
					</div>
					<!-- /.owl-carousel #logo-slider -->
				</div>
				<!-- /.logo-slider-inner -->

			</div>
			<!-- /.logo-slider -->
			<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.body-content -->
	<!-- ============================================================= FOOTER ============================================================= -->

	<!-- ============================================== INFO BOXES ============================================== -->
	<div class="row our-features-box">
		<div class="container">
			<ul>
				<li>
					<div class="feature-box">
						<div class="icon-truck"></div>
						<div class="content-blocks">ما به تمام دنیا ارسال میکنیم</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-support"></div>
						<div class="content-blocks">تماس +1 800 789 0000</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-money"></div>
						<div class="content-blocks">تضمین بازگشت پول</div>
					</div>
				</li>
				<li>
					<div class="feature-box">
						<div class="icon-return"></div>
						<div class="content">30 روز بازگشتی</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
	<!-- /.info-boxes -->
	<!-- ============================================== INFO BOXES : END ============================================== -->

	<!-- ============================================================= FOOTER ============================================================= -->
	<footer id="footer" class="footer color-bg">
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="address-block">

							<!-- /.module-heading -->

							<div class="module-body">
								<ul class="toggle-footer" style="">
									<li class="media">
										<div class="pull-right"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body">
											<p>آدرس فروشگاه محلی ما</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-right"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body">
											<p>+(888) 123-4567<br> +(888) 456-7890</p>
										</div>
									</li>
									<li class="media">
										<div class="pull-right"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
										<div class="media-body"> <span><a href="#">Info@Website.com</a></span> </div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">خدمات مشتریان</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="">حساب من</a></li>
								<li><a href="#" title="">تاریخچه سفارشات</a></li>
								<li><a href="#" title="">پرسش های متداول</a></li>
								<li><a href="#" title="">ویژه ها</a></li>
								<li class="last"><a href="#" title="">پشتیبانی</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">شرکت</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a title="Your Account" href="#">درباره ما</a></li>
								<li><a title="Information" href="#">خدمات مشتریان</a></li>
								<li><a title="Addresses" href="#">کمپانی</a></li>
								<li><a title="Addresses" href="#">روابط سرمایه گذار</a></li>
								<li class="last"><a title="Orders History" href="#">جستجوی پیشرفته</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
					<!-- /.col -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="module-heading">
							<h4 class="module-title">چرا انتخاب ما</h4>
						</div>
						<!-- /.module-heading -->

						<div class="module-body">
							<ul class='list-unstyled'>
								<li class="first"><a href="#" title="">راهنمای خرید</a></li>
								<li><a href="#" title="">وبلاگ</a></li>
								<li><a href="#" title="">کمپانی</a></li>
								<li><a href="#" title="">روابط سرمایه گذار</a></li>
								<li class=" last"><a href="contact-us.html" title="">تماس با ما</a></li>
							</ul>
						</div>
						<!-- /.module-body -->
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-bar">
			<div class="container">
				<div class="col-xs-12 col-sm-4 no-padding social">
					<ul class="link">
						<li class="fb pull-right"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
						<li class="tw pull-right"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
						<li class="googleplus pull-right"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
						<li class="rss pull-right"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
						<li class="pintrest pull-right"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
						<li class="linkedin pull-right"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
						<li class="youtube pull-right"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 no-padding copyright">&copy; 2018. کلیه حقوق برای این فروشگاه محفوظ است. </div>
				<div class="col-xs-12 col-sm-4 no-padding">
					<div class="clearfix payment-methods">
						<ul>
							<li><img src="assets/images/payments/1.png" alt=""></li>
							<li><img src="assets/images/payments/2.png" alt=""></li>
							<li><img src="assets/images/payments/3.png" alt=""></li>
							<li><img src="assets/images/payments/4.png" alt=""></li>
							<li><img src="assets/images/payments/5.png" alt=""></li>
						</ul>
					</div>
					<!-- /.payment-methods -->
				</div>
			</div>
		</div>
	</footer>
	<!-- ============================================================= FOOTER : END============================================================= -->

	<!-- For demo purposes – can be removed on production -->

	<!-- For demo purposes – can be removed on production : End -->

	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/echo.min.js"></script>
	<script src="assets/js/jquery.easing-1.3.min.js"></script>
	<script src="assets/js/bootstrap-slider.min.js"></script>
	<script src="assets/js/jquery.rateit.min.js"></script>
	<script type="text/javascript" src="assets/js/lightbox.min.js"></script>
	<script src="assets/js/bootstrap-select.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>

</html>